.titleContainer {
  padding: 0;
}

.border {
  border: 1px solid #c6c4c4;
  border-radius: 4px;
}

.content {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
  z-index: 10;
}

.tabHeaderContainer {
  margin-left: 15px;
}

.tabHeader {
  background-color: #888;
  color: #fff;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: inline-block;
  margin-right: -1px;

  box-shadow: inset 6px -3px 23px -7px rgba(0, 0, 0, 0.66);
}

.tabHeader:hover {
  background-color: #33c3f0;
  color: #fff;
}

.tabHeader h2 {
  margin: 0;
  padding: 10px 15px;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 500;
}

.tabHeaderActive {
  background-color: #fff;
  color: #000;
}

.tab {
  display: none;
}

.tabActive {
  display: block;
}
