* {
  touch-action: manipulation;
}
#character-generator-container {
  margin-top: 20px;
}

.attribute-list {
  margin: 20px 0;
}

.column,
.columns {
  width: 100%;
}

label {
  display: inline-block;
  margin-left: 5px;
}

ul li {
  list-style-type: none;
  margin: 0;
}

li.row:hover {
  background-color: beige;
}

button.button-primary,
button.button-primary:focus {
  background-color: #186077;
}

h2 {
  font-size: 3rem;
}

/* for mobile widths */
@media (min-width: 400px) {
  .column,
  .columns {
    width: 50%;
  }
}
